	<nav class="bg-primary d-md-none">
		<div class="container-md">
			<div class="row align-items-center">
				<div class="col">

					<!-- Breadcrumb -->
					<ol class="breadcrumb c-breadcrumb">
						<li class="breadcrumb-item">
							<span class="text-white">
								Account
							</span>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							<span class="text-white">
								General
							</span>
						</li>
					</ol>

				</div>
				<div class="col-auto">
					<!-- Toggler -->
					<div class="navbar-dark">
						<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>

				</div>
			</div>
			<!-- / .row -->
		</div>
		<!-- / .container -->
	</nav>